license.txt
readme
.svn
.new.*
core.[1-9][0-9]*
core.???*
*.core
*.OBJ
*.obj
*.lo
*.EXE
*.exe
*.DLL
*.dll
*.LIB
*.lib
*.la
*.CLASS
*.class
*.JAR
*.jar
*.rpt
*.err
*.inc
*.i
*.laU
*.laT
*.loT
*.expT
*.nmT
*.nmS
*.mo
perlmods/*/t/*.t
*.gmo
*.so.*
*.so
*.a
*.o
*.bak
.depend
.deps
.libs
.install
.nfs*
autom4te.cache
output.[0123456789]
traces.[0123456789]
requests
*.m4f
tca.log
tca.map
.inslog*
.ix*
.pp*
pchdir
ins_init_1000.c
*_1000.i
.iy*
.xvpics
.pics
.*.swp
*.lnk
*.LNK
.user-variables
~
~*.tmp
*.tar.gz
.*~
